<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="org.free.appexpress" android:versionName="0.9">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="22" />
	<application android:label="AppExpress">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>